extends layout

block content
  .page-header.navbar.navbar-fixed-top
  h1 #{title}
    .page-header.navbar.navbar-fixed-top
      h1
    .page-sidebar.navbar-collapse.collapse
    .link
      br
      a(href='./pkmco') ㊣虛幻㊣ - 神奇寶貝 戰棋大師 帳號搜尋系統
    .link
      br
      a(href='./mirror') ㊣虛幻㊣ - 最終休止符 帳號搜尋系統