/* Left Sidebar
-----------------------------------------------------------------------------*/
.left {
	float: left;
	width: 200px;
	margin-left: -100%;
	position: relative;
	background: #333333;
}
/* Middle
-----------------------------------------------------------------------------*/

.main {
	position: relative;
	margin-left: 35%;
}
#searchResult {
	margin-left: 10%;
	margin-right: 10%;
}
h1{
	text-align:center;
	font-family: Microsoft JhengHei;
}